.display-camp-title{
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px gray;
    padding: 1rem 0 0 2rem;
}
.display-camp-div{
    padding-left: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    gap: 1.5rem;
    justify-content:start;
}

@media (max-width: 944px) {
    .display-camp-div {
        justify-content:center;
        padding-left: 0rem;
    }
  }

.display-loader{
    width: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.dc-p{
    padding: 1rem;
    color: #9AA0A6;
}